<!doctype html>
<html>
  <head>
    <title><%= repo.name %></title>
  </head>
  <body>
    <h1><%= repo.name %></h1>

    <h2>Files</h2>

    <ol>#{@toc.string}</ol>
    <div class='body'>
      #{@body.string}</div>
  </body>
</html>
