<!doctype html>
<head>
  <title> readcode </title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>
  <link href="/main.css" rel="stylesheet" type='text/css' />
</head>
<body>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-57187633-1', 'auto');
    ga('send', 'pageview');
  </script>
  <div id="wrapper">
    <h1>readcode</h1>

    <div id="content">
      <form>
        <input placeholder="e.g. github.com/minhajuddin/readcode" type="text" name="repo" id="repo">
        <button type="submit" class="submit">Read</button>
      </form>
    </div>
    <div id="footer">
      Built by <a href="http://twitter.com/minhajuddin">@minhajuddin</a> &middot;
      Buy a subscription to <a title="Create and host awesome websites from your dropbox." href="http://www.websrvr.in/?utm_source=readcode.in&amp;utm_medium=footer&amp;utm_campaign=readcode1">www.websrvr.in</a>
      support us.
    </div>
  </div>
</body>
