<!doctype html>
<head>
  <title> readcode </title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<form>
  Repository <input type=text name=repo />
  <button type='submit' class='submit'>Read</button>
</form>
