<!doctype html>
<head>
  <title> readcode </title>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<h1>
  This page is rendering, <a href='<%= @path %>'>please refresh it</a>
</h1>
