body{ background-color: #36372F; font-family: 'Open Sans', sans-serif; font-weight: 400; color: #eee;}
h1{font-size: 0.8em;}
input, button{font-size: 1.2em;}
button{padding: 5px;}
a{color: #ddd; text-decoration: none;}
